.cardbgcolor {
  background-color: rgba(8, 32, 58, 0.967);
}

.cardwidth {
  width: 40%;
}

.cardbgcolor {
  background-color: rgba(8, 32, 58, 0.967);
}

.text {
  text-decoration: none;
  color: #ffffff;
}
